/* HEADER SECTION */
body {
  font-family: "Rajdhani";
}


header {
  display: flex;
  flex-wrap: wrap;
  padding-left: 14.2em;
  flex-direction: row;
}

input {
  padding-left: 2em;
  /* padding-right: 47.3em; */
  padding-top: 1em;
  padding-bottom: 1em;
  position: relative;
  top: 0;
  border: none;
  width: 20em;
  /* border-bottom: 1px solid grey; */
}

::placeholder {
  font-family: "Rajdhani";
  font-size: 2em;
  color: #FF00FF;
}

.headerbutton {
  border: 1px solid grey;
  padding-top: .3em;
  padding-bottom: .2em;
  padding-left: .5em;
  padding-right: .5em;
  margin-right: .01em;
  font-size: 2.5em;
  font-family: "Rajdhani";
}

.buttonimg {
  height: 25px;
  width: 25px;
}

/* SIDENAV SECTION */

.sidenav {
  height: 150%;
  width: 14em;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  /* overflow-x: hidden; */
  /* padding-top: 2em;
  padding-right: 3em; */
}

.sidenav h5:hover {
  color: #f1f1f1;
}

.menu {
  line-height: .5em;
  /* position: fixed; */
}

.sidenav .mainmenu {
  color: #818181;
  margin: 17em 0 1.5em 2.6em;
  font-size: 1.2em;
}

.sidenav .mainmenu:hover {
  color: #fdec6e;
  text-shadow:0px 0px 30px #fdec6e;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.sidenav .mainlist1 {
  color: #818181;
  padding-left: .7em;
  font-size: 1em;
}

.sidenav .mainlist2 {
  color: #818181;
  padding-left: .7em;
  font-size: 1em;
}

.sidenav .mainlist3 {
  color: #818181;
  padding-left: .7em;
  font-size: 1em;
}

.sidenav .mainlist4 {
  color: #818181;
  padding-left: .7em;
  font-size: 1em;
}

.sidenav .mainlist1:hover {
  color: #FF00FF;
  text-decoration: underline;
}

.sidenav .mainlist2:hover {
  color: #00FFFF ;
  text-decoration: underline;
}

.sidenav .mainlist3:hover {
  color: #00FF66;
  text-decoration: underline;
}

.sidenav .mainlist4:hover {
  color: #6633CC;
  text-decoration: underline;
}


@media screen and (max-height: 10em) {
  .sidenav {padding-top: 2em;}
  .sidenav h5 {font-size: 2.5em;}
}

hr.solid {
  border-top: .2em solid #bbb;
  width: 9.9em;
}

img.logo {
  /* border: .1em solid #bbb; */
  /* border-radius: 5em; */
  /* padding: 4em; */
  margin-left: 2em;
  margin-top: .5em;
  width: 10em;
  height: 10em;
}

.dropbtn {
  background-color: #111;
  color: white;
  padding-top: 1em;
  padding-left: 3em;
  font-size: 1em;
  border: none;
  text-decoration: underline;
  font-family: "Rajdhani";
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  padding-left: 1em;
  min-width: 3em;
  /* z-index: 1; */
  color: #fff;
  align: center;
  font-family: "Rajdhani";
}

.dropdown-content a {
  color: #fff;
  text-decoration: none;
  display: block;
  font-size: 1.3em;
}

.dropdown-content p {
  font-size: .6em;
}

.dropdown-content .one:hover {
  color: #FF00FF;
}

.dropdown-content .two:hover {
  color: #00FF66;
}

.dropdown-content .three:hover {
  color: #6633CC;
}

.dropdown-content .four {
  text-decoration: line-through;
}

.dropdown-content .four:hover {
  color: #00FFFF;
  text-decoration: line-through;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: transparent;
}

.disabled {
  text-decoration: line-through;
}

main {
  padding-left: 17em;
  padding-top: 3em;
  line-height: 1em;
}

.general-stats {
  margin-left: 3em;
}

.agent-name p {
  font-size: .4em;
  padding-left: 1em;
  display: inline;
  color: grey;
}

.highlight {
  background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #FF00FF 50%);
}

.location {
  font-size: 1em;
  padding-left: 2em;
  display: inline;
  color: grey;
}

.pages {
  margin-top: -4em;
}

.pagesbutton1 {
  margin-top: 6em;
  margin-left: 3em;
  margin-right: 3em;
  /* background: transparent; */
  border: none;
  font-family: "Rajdhani";
  background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #FF00FF 50%);
}

.pagesbutton2 {
  margin-top: 6em;
  margin-left: 3em;
  margin-right: 3em;
  background: transparent;
  border: none;
  font-family: "Rajdhani";
}

.pagesbutton3 {
  margin-top: 6em;
  margin-left: 3em;
  margin-right: 3em;
  background: transparent;
  border: none;
  font-family: "Rajdhani";
}

.pagesbutton4 {
  margin-top: 6em;
  margin-left: 3em;
  margin-right: 3em;
  background: transparent;
  border: none;
  font-family: "Rajdhani";
}

/* .pagesbutton1:hover {
  margin-top: 6em;
  background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #FF00FF 50%);
} */

.pagesbutton2:hover {
  margin-top: 6em;
  background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #00FF66 50%);
}

.pagesbutton3:hover {
  margin-top: 6em;
  background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #6633CC 50%);
}

.pagesbutton4:hover {
  margin-top: 6em;
  background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #00FFFF 50%);
}

.circles {
  display: flex;
  position: relative;
}

.circle {
  flex-wrap: wrap;
  margin-top: 2em;
  margin-left: 1em;
  width: 12em;
  height: 12em;
}

.graph {
  margin-top: 2.5em;
  margin-left: 2em;
  width: 32em;
  height: 12em;
}

/* .rectangle {
  border: .1em solid black;
  background: white;
  width: 23em;
  height: 11em;
  margin-top: 5em;
  margin-left: 4em;
} */

.personal-profile {
  display: flex;
  flex-direction: column;
  width: fill;
  height: 100%;
  position: relative;
  margin-left: -2.5em;
  background-image: url('https://64.media.tumblr.com/d2863cc738171946a23bc47b11aa4698/e66d2c964f0b8e51-31/s1280x1920/8572c7c4661c3b1c2e0fbe518dd86cf8d85edde0.jpg');
  background-repeat: repeat;
}

.professional-profile {
  display: flex;
  flex-direction: row;
}

.stats {
  width: 50%;
  height: 40em;
  border: 1px solid white;
  margin-left: 6em;
  margin-top: 2em;
  position: absolute;
}

.stats:hover {
  box-shadow:0em 0em 4em #00FFFF;
  transition: all 0.2s ease-in-out;
  /* transition: box-shadow 1s; */

}

.stats p {
  color: white;
  padding: 1em;
  margin: 1em;
}

.yusuke {
  width: 50%;
  height: 40%;
  position: relative;
  margin-left: 50%;
}

.circle-stats {
  width: 10em;
  margin-top: 1.5em;
  margin-left: 14.9em;
  font-family: "Rajdhani";
  background: transparent;
  border: 1px solid white;
  color: white;
}

.circle-stats:hover {
  box-shadow:0em 0em 4em #00FFFF;
  transition: all 0.2s ease-in-out;
}

.graphbutt {
  width: 10em;
  margin-top: 1.5em;
  margin-left: 26em;
  font-family: "Rajdhani";
  background: transparent;
  border: 1px solid white;
  color: white;
}
.graph-buttons {
  display: inline;
}

hr {
  width: 100%;
  border: 1px solid white;
  margin-top: 3em;
}



















.
